
  .container{
    display: flex;
    height: 500px;
    width: 800px;

    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px black;
  }
  .form{
    display: flex; 
    flex-direction: column;
    width: 400px;
    align-items: center;
    background-color: rgb(2, 168, 168);
  }


  .form h1{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px;

  }
  
  
  .Box{
    padding: 12px;
    width: 65;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 30px;

  }
  .submit{
    padding: 12px;
    width: 65;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 30px;
  }
#Submit:hover{
    cursor: pointer;
    background-color: grey;
}
.from a{
    color: black;
    margin-top: 52px;
}
.from a:hover{
    color: blueviolet;
}
